{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Tournament/styles.css' %}">

{% if messages %}
{% for message in messages %}
<p class="{{ message.tags }}">{{ message }}</p>
{% endfor %}
{% endif %}
<h1>Logowanie</h1>
<form style="margin:10px" action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit">Zaloguj</button>
</form>
<button class="clickable navigable" onclick="location.href='/account/register/'">Rejestracja</button>