{% extends "Tournaments/main.html" %}
{% block title %}Mecz{% endblock %}


{% block content %}
<div class="tournament-info">
    <h1>{{ object.tournament}}</h1>
    <p>Opis: <b>{{ object.tournament.description }}</b></p>
    <p>Organizowany przez: <b>{{ object.tournament.organizer.username }}</b></p>
    <p>Data turnieju: <b>{{ object.tournament.date|date:'d.m.Y H:i' }}</b></p>
</div>
{% if messages %}
{% for message in messages %}
<p class="{{ message.tags }}">{{ message }}</p>
{% endfor %}
{% endif %}
<div class="tournament-info">
    <h1>{{ object }}</h1>
    <p>Wynik: {{ object.player1_score }}:{{ object.player2_score }}</p>
    <p>Data meczu: {{ object.date|date:'d.m.Y H:i'}}</p>
</div>
{% if user == object.tournament.organizer %}
<button class="clickable navigable" onclick="location.href='/match/{{ match.id }}/setScore/'">Zmień wynik</button>
{% endif %}
<button class="clickable navigable" onclick="location.href='/tournament/{{ object.tournament.id }}/'">Przejdź do turnieju</button>
{% endblock %}