{% extends "Tournaments/main.html" %}
{% block title %}Mecz{% endblock %}


{% block content %}
<h1>{{ Tournament.name }}</h1>
<p>{{ Tournament.description }}</p>
<p>{{ Tournament.organizer.username }}</p>
<p>{{ Tournament.date|date:'d.m.Y H:i' }}</p>

<h1>Wprowadzanie wyniku meczu</h1>
<p>{{ match }}</p>
<p>{{ match.date|date:'d.m.Y H:i' }}</p>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Submit">
</form>
<button class="clickable navigable" onclick="location.href='/match/{{ match.id }}/'">Wroć do meczu</button>
{% endblock %}