{% extends "Tournaments/main.html" %}
{% block title %}Mecz{% endblock %}


{% block content %}
<div class="tournament-info">
    <h1>{{ Tournament.name }}</h1>
    <p>Opis: <b>{{ Tournament.description }}</b></p>
    <p>Organizowany przez: <b>{{ Tournament.organizer.username }}</b></p>
    <p>Data turnieju: <b>{{ Tournament.date|date:'d.m.Y H:i' }}</b></p>
</div>

<h1>Usuwanie meczu</h1>
<p>Czy napewno chcesz usunać mecz?</p>
<div class="tournament-info">
    <h1>{{ match }}</h1>
    <p>Wynik: {{ match.player1_score }}:{{ match.player2_score }}</p>
    <p>Data mecu: {{ match.date|date:'d.m.Y H:i'}}</p>
</div>
<form action="" method="post">
    {% csrf_token %}
    <button type="submit">Usuń mecz</button>
</form>
<button class="clickable navigable" onclick="location.href='/tournament/{{ Tournament.id }}/'">Wroć do turnieju</button>
{% endblock %}