{% extends "Tournaments/main.html" %}
{% block title %}Mecz{% endblock %}


{% block content %}
<h1>{{ Tournament.name }}</h1>
<p>{{ Tournament.description }}</p>
<p>{{ Tournament.organizer.username }}</p>
<p>{{ Tournament.date|date:'d.m.Y H:i' }}</p>

<h1>Dodawanie nowego meczu</h1>
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
</form>
<button class="clickable navigable" onclick="location.href='/tournament/{{ Tournament.id }}/'">Wroć do turnieju</button>
{% endblock %}