{% extends "Tournaments/main.html" %}
{% block title %}Mecz{% endblock %}


{% block content %}
<div class="tournament-info">
    <h1>{{ Tournament.name }}</h1>
    <p>Opis: <b>{{ Tournament.description }}</b></p>
    <p>Organizowany przez: <b>{{ Tournament.organizer.username }}</b></p>
    <p>Data turnieju: <b>{{ Tournament.date|date:'d.m.Y H:i' }}</b></p>
</div>

<h1>Wprowadzanie wyniku meczu</h1>
<div class="tournament-info">
    <h1>{{ match }}</h1>
    <p>Data meczu: {{ match.date|date:'d.m.Y H:i'}}</p>
</div>
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit">Wprowadź wynik</button>
</form>
<button class="clickable navigable" onclick="location.href='/match/{{ match.id }}/'">Wroć do meczu</button>
{% endblock %}