{% extends "Tournaments/main.html" %}
{% block title %}Uczestnik{% endblock %}


{% block content %}
<div class="tournament-info">
    <h1>{{ Tournament.name }}</h1>
    <p>Opis: <b>{{ Tournament.description }}</b></p>
    <p>Organizowany przez: <b>{{ Tournament.organizer.username }}</b></p>
    <p>Data turnieju: <b>{{ Tournament.date|date:'d.m.Y H:i' }}</b></p>
</div>

<h1>Usuwanie uczestnika</h1>
<p>Czy napewno chcesz usunać uczestnika?</p>
<p>Nazwa uczestnika: {{ participant.name }}</p>
<form action="" method="post">
    {% csrf_token %}
    <button type="submit">Usuń uczestnika</button>
</form>
<button class="clickable navigable" onclick="location.href='/tournament/{{ Tournament.id }}/'">Wroć do turnieju</button>
{% endblock %}