{% extends "Tournaments/main.html" %}
{% block title %}{{ title }}{% endblock %}


{% block content %}
{% if manage %}
<button class="clickable navigable" onclick="location.href='{% url 'main' %}'">Lista turniejów</button>
<button class="clickable navigable" onclick="location.href='{% url 'add_tournament' %}'">Stwórz nowy turniej</button>
{% endif %}
{% if messages %}
{% for message in messages %}
<p class="{{ message.tags }}">{{ message }}</p>
{% endfor %}
{% endif %}
<table>
    <tr>
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Organizator</th>
        <th>Data</th>
        {% if manage %}
        <th>Usuń</th>
        {% endif %}
    </tr>
    {% for tournament in object_list %}
    {% if user == tournament.organizer %}
        <tr style="background-color: #1f1f23">
    {% else %}
        <tr>
    {% endif %}
        <td class="clickable" onclick="location.href='/tournament/{{tournament.id}}'">{{ tournament.name }}</td>
        <td class="clickable" onclick="location.href='/tournament/{{tournament.id}}'">{{ tournament.description }}</td>
        <td class="clickable" onclick="location.href='/tournament/{{tournament.id}}'">{{ tournament.organizer.username }}</td>
        <td class="clickable" onclick="location.href='/tournament/{{tournament.id}}'">{{ tournament.date|date:'d.m.Y H:i' }}</td>
        {% if manage %}
        <td><button class="clickable" onclick="location.href='/delTournament/{{tournament.id}}/'">X</button></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}

