{% extends "Tournaments/main.html" %}
{% block title %}Turniej{% endblock %}


{% block content %}
<div class="tournament-info">
    <h1>{{ Tournament.name }}</h1>
    <p>Opis: <b>{{ Tournament.description }}</b></p>
    <p>Organizowany przez: <b>{{ Tournament.organizer.username }}</b></p>
    <p>Data turnieju: <b>{{ Tournament.date|date:'d.m.Y H:i' }}</b></p>
</div>

<h1>Zatwierdzanie uczestników turnieju</h1>
<p>Czy na pewno chcesz zatwierdzić aktualną listę uczestników?</p>
<h2>Uczestnicy</h2>
<table>
    <tr>
        <th>Nazwa</th>
    </tr>
{% for participant in Tournament.participant_set.all %}
    <tr>
        <td>{{ participant.name }}</td>
    </tr>
{% endfor %}
</table>
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit">Potwierdź uczestników</button>
</form>
<button class="clickable navigable" onclick="location.href='/tournament/{{ Tournament.id }}/'">Wroć do turnieju</button>
{% endblock %}