{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Tournament/styles.css' %}">
{{ title }}
{% if messages %}
{% for message in messages %}
<p class="{{ message.tags }}">{{ message }}</p>
{% endfor %}
{% endif %}
<table>
    <tr>
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Organizator</th>
        <th>Data</th>
        {% if manage %}
        <th>Usuń</th>
        {% endif %}
    </tr>
    {% for tournament in object_list %}
    {% if user == tournament.organizer %}
        <tr style="background-color: #1c2e30">
    {% else %}
        <tr>
    {% endif %}
        <td class="clickable" onclick="location.href='/tournament/{{tournament.id}}'">{{ tournament.name }}</td>
        <td class="clickable" onclick="location.href='/tournament/{{tournament.id}}'">{{ tournament.description }}</td>
        <td class="clickable" onclick="location.href='/tournament/{{tournament.id}}'">{{ tournament.organizer.username }}</td>
        <td class="clickable" onclick="location.href='/tournament/{{tournament.id}}'">{{ tournament.date|date:'d.m.Y H:i' }}</td>
        {% if manage %}
        <td><button class="clickable" onclick="location.href='/delTournament/{{tournament.id}}/'">X</button></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

