{% extends "Tournaments/main.html" %}
{% block title %}Turniej{% endblock %}


{% block content %}
<h1>{{ object.name }}</h1>
<p>{{ object.description }}</p>
<p>{{ object.organizer.username }}</p>
<p>{{ object.date|date:'d.m.Y H:i' }}</p>

{% if messages %}
{% for message in messages %}
<p class="{{ message.tags }}">{{ message }}</p>
{% endfor %}
{% endif %}

<p>Zasady:</p>
<p>Punkty za wygraną: {{object.rules.win_score}}</p>
<p>Punkty za remis: {{object.rules.tie_score}}</p>
<p>Punkty za przegraną: {{object.rules.loose_score}}</p>

<button class="clickable navigable" onclick="location.href='{% url 'main' %}'">Lista turniejów</button>
{% if user.is_authenticated %}
<button class="clickable navigable" onclick="location.href='{% url 'my_tournaments' %}'">Lista turniejów organizowanych przez ciebie</button>
{% endif %}
<div class="tabs">
    <input type="radio" name="tab" id="participants" role="tab" checked>
    <label for="participants">Uczestnicy</label>
    <section>
        <table>
            <tr>
                <th>Nazwa</th>
                {% if object.confirmed is False and user == object.organizer %}
                <th>Usuń</th>
                {% endif %}
            </tr>
        {% for participant in object.participant_set.all %}
            <tr>
                <td>{{ participant.name }}</td>
                {% if object.confirmed is False and user == object.organizer %}
                <td><button class="clickable" onclick="location.href='delParticipant/{{participant.id}}/'">X</button></td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>

        {% if user == object.organizer and object.confirmed is False %}
        <button class="clickable navigable" onclick="location.href='addParticipant/'">Dodaj uczestnika</button>
        <button class="clickable navigable" onclick="location.href='confirmParticipants/'">Zatwierdź listę uczestników</button>
        {% endif %}
    </section>
    {% if object.confirmed %}
    <input type="radio" name="tab" id="matches" role="tab" checked>
    <label for="matches">Mecze</label>
    <section>
        <table>
            <tr>
                <th>Mecz</th>
                <th>Data</th>
                <th>Wynik</th>
                {% if user == object.organizer %}
                <th>Edytuj wynik</th>
                <th>Usuń</th>
                {% endif %}
            </tr>
        {% for match in object.match_set.all %}
            <tr>
                <td class="clickable" onclick="location.href='/match/{{match.id}}'">{{ match }}</td>
                <td class="clickable" onclick="location.href='/match/{{match.id}}'">{{match.date|date:'d.m.Y H:i'}}</td>
                <td class="clickable" onclick="location.href='/match/{{match.id}}'">{{ match.player1_score }}:{{ match.player2_score }}</td>
                {% if user == object.organizer %}
                <td><button class="clickable" onclick="location.href='/match/{{ match.id }}/setScore/'">Wprowadź wynik</button></td>
                <td><button class="clickable" onclick="location.href='/delMatch/{{ match.id }}/'">X</button></td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
        {% if user == object.organizer %}
        <button class="clickable navigable" onclick="location.href='addMatch/'">Utwórz mecz</button>
        {% endif %}
    </section>

    <input type="radio" name="tab" id="scoreboard" role="tab" checked>
    <label for="scoreboard">Tabela Wyników</label>
    <section>
        <div id="scoreboard-container"></div>
        <button id="update-button" class="clickable navigable">Odśwież table wyników</button>
    </section>
    {% endif %}
</div>


{% if user == object.organizer %}
<button  class="clickable navigable" onclick="location.href='/delTournament/{{ object.id }}/'">Usuń turniej</button>
{% endif %}
<script>
    function updateScoreboard() {
        console.log("COS");
        $.ajax({
            url: '/tournament/{{ object.id }}/scoreboard/',
            type: 'GET',
            success: function (data) {
                console.log(data);
                $("#scoreboard-container").html(data);
            }
        });
    }
    $("#update-button").click(updateScoreboard);
    $(document).ready(updateScoreboard);
</script>
{% endblock %}