{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Tournament/styles.css' %}">

<h1>{{ object.name }}</h1>
<p>{{ object.description }}</p>
<p>{{ object.organizer.username }}</p>
<p>{{ object.date|date:'d.m.Y H:i' }}</p>

{% if messages %}
{% for message in messages %}
<p class="{{ message.tags }}">{{ message }}</p>
{% endfor %}
{% endif %}

<h2>Uczestnicy</h2>
<table>
    <tr>
        <th>Nazwa</th>
        {% if object.confirmed is False and user == object.organizer %}
        <th>Usuń</th>
        {% endif %}
    </tr>
{% for participant in object.participant_set.all %}
    <tr>
        <td>{{ participant.name }}</td>
        {% if object.confirmed is False and user == object.organizer %}
        <td><button class="clickable" onclick="location.href='delParticipant/{{participant.id}}/'">X</button></td>
        {% endif %}
    </tr>
{% endfor %}
</table>

{% if user == object.organizer and object.confirmed is False %}
<button class="clickable" onclick="location.href='addParticipant/'">Dodaj uczestnika</button>
<button class="clickable" onclick="location.href='confirmParticipants/'">Zatwierdź uczestników</button>
{% endif %}

{% if object.confirmed %}
<h2>Mecze</h2>
<table>
    <tr>
        <th>Mecz</th>
        <th>Data</th>
        <th>Wynik</th>
        {% if user == object.organizer %}
        <th>Edytuj wynik</th>
        <th>Usuń</th>
        {% endif %}
    </tr>
{% for match in object.match_set.all %}
    <tr>
        <td class="clickable" onclick="location.href='/match/{{match.id}}'">{{ match }}</td>
        <td class="clickable" onclick="location.href='/match/{{match.id}}'">{{match.date|date:'d.m.Y H:i'}}</td>
        <td class="clickable" onclick="location.href='/match/{{match.id}}'">{{ match.player1_score }}:{{ match.player2_score }}</td>
        {% if user == object.organizer %}
        <td><button class="clickable" onclick="location.href='/match/{{ match.id }}/setScore/'">Wprowadź wynik</button></td>
        <td><button class="clickable" onclick="location.href='/delMatch/{{ match.id }}/'">X</button></td>
        {% endif %}
    </tr>
{% endfor %}
</table>
{% if user == object.organizer %}
<button class="clickable" onclick="location.href='addMatch/'">Utwórz mecz</button>
{% endif %}
{% endif %}

{% if user == object.organizer %}
<button class="clickable" onclick="location.href='/delTournament/{{ object.id }}/'">Usuń turniej</button>
{% endif %}